/****************************************************************
**  PROLEGOMENA
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
  /* min-width: 297px;  */
}
a, a:focus {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: black;
}

/****************************************************************
**  HEADER
*/
header .header1 {
  height: 30px;
  background-color: #e6e6e6;
}
header .header1 .ms_w1c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #e6e6e6;
}
header .header1 a {
  font-weight: 600;
}
header .header1 a .fas {
  padding: 0 5px;
}
header .header2 {
  height: 80px;
}
header .header2 .ms_w1c {
  display: flex;
  align-items: center;
}
header .header2 img {
  width: 180px;
  height: 77px;
  margin: 4px 20px 0 0;
}
header .header2 .nav_ok {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header2 .nav_ko {
  display: none;
}
header .header2 a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
}
header .header2 a:hover {
  color: #d70033;
  text-decoration: underline;
}
header .header3 {
  height: 30px;
}
header .header3 .ms_w1c {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header3 .nav_info {
  margin-right: 20px;
  flex-shrink: 0;
}
header .header3 .nav_info a {
  font-size: 14px;
  font-weight: 700;
  color: #d70033;
  text-decoration: underline;
}
header .header3 .nav_msg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header .header3 .nav_msg a {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  animation: msg 5s linear 0s infinite;
}
@keyframes msg {
  100% {left: -200px;}
}

/****************************************************************
**  MAIN
*/
main .OOO {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 100%; 
  padding-top: 130px;
  background-image: url("../img/p1010199.jpg");
  background-size: 100%;
  /* background-repeat: no-repeat; */
  background-position: center;
}
main .OOO::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}
main .OOO .msg {
  color: white;
  z-index: 99;
}
main .OOO .msg div {
  margin-bottom: 20px;
}
main .OOO .msg #switch a, 
main .OOO .msg #response a {
  display: inline-block;
  padding: 15px 40px;
  background-color: #c41228;
  margin-top: 50px;
  color: white;
  font-size: 1.5em;
  font-weight: 700; 
  text-transform: uppercase;
  border-radius: 8px;
}
main .OOO .msg #redo a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #666666;
  color: white;
  font-size: 1.1em;
  font-weight: 600; 
  text-transform: uppercase;
  border-radius: 6px;
}

/****************************************************************
**  TEXTS
*/
.ms_txt_payoff {
  font-size: 3em;
  font-weight: 600;
}
.ms_txt_title {
  font-size: 2em;
  font-weight: 600;
}
.ms_txt_subtitle {
  font-size: 1.2em;
  font-weight: 500;
}
 
/****************************************************************
**  UTILITY
*/
.ms_w1c { width: 1000px; }
[class^="ms_w"][class$="c"] { margin: 0 auto; }

/****************************************************************
**  MEDIA QUERIES
*/

@media screen and (max-width: 1060px) { 
  header .header2 .nav_ok {
    display: none;
  }
  header .header2 .nav_ko {
    display: block;
  }
}

/**************************************** XS >= 0 */
/* XS default - SEE ABOVE */

/************************************** SM >= 768 */
@media screen and (min-width: 768px) { 
}
/************************************** MD >= 992 */
@media screen and (min-width: 992px) {
}
/************************************** LG >= 1200 */
@media screen and (min-width: 1200px) {
}

/****************************************************************
**  SCHERZO
*/

[id="redo"] {
  animation: test 2s ease-in-out 3s infinite alternate;
}
@keyframes test {
 20% {transform: translateX(3px) translateY(-5px) rotate(-3deg);}
 40% {transform: translateX(-5px) translateY(-3px); }
 60% {transform: translateX(-3px) translateY(0) rotate(5deg);}
 80% {transform: translateX(10px) translateY(-5px);}
100% {transform: translateX(0) translateY(0);}
}
